.row{
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.card{
  display: flex;
  margin: 10px;
}

.item label{
  border: 1px solid skyblue;
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
}

.png{
  height: 20px;
  margin-left: 10px;

}

.png :hover{
  border: 2px thick brown;
}
